<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @animal.common_name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<p>
  <strong> Sightings </strong>
  <ul>
    <% @animal.sightings.each do |sighting| %>
        <li>
            <%= sighting.date %>, lat/long: <%= sighting.latitude %>, <%= sighting.longitude %>
        </li>
    <% end %>
  </ul>
</p>
<a href="/sightings/new">Add a new sighting here</a>
<br>
<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
